%after {
    top: 0px;
    left: 0px;
}


/*BOTON INICIO*/

.btn-bailar__btn {
    font-size: $fsdefault + 0.3;
    @include movil {
        @include centrado (center);
        margin-bottom: $margdefault + 2;
    }
    &:hover {
        color: $negro;
    }
    &--decor {
        @include links (none);
        @include botones ($paddingdefault - 0.8, 0rem);
    }  
     &::after {
        @include boton-after;
        top: 9px;
        left: -10px;
        background-color: $color-salmon;
        z-index: -1;
    }
     &:hover::after {
        @extend %after;
    }
}

.carta__btn {
    @include links (none);
    background-color: $color-salmon;
    padding: $paddingdefault - 1.2;
    @include movil {
        padding: $paddingdefault - 1.6;
    } 
    &:hover{
        color: $negro;
      }
}




/*BOTON VIRTUALES*/

.btn-virtuales{
    @include centrado (center);
    margin: 4rem 0rem 7rem 0rem;
    &__link{
        @include links (uppercase);
        @include botones ($paddingdefault - 0.5, 0rem);
        &:hover {
            color: $negro;
        }
        &::after {
            @include boton-after;
            background-color: $color-salmon;
            z-index: -1;
        }
        &:hover::after {
            @extend %after;
        }
    }
}


/*BOTON CONTACTO*/

.formulario__btn {
    @include centrado (center);
    &--deco {
      @include botones ($paddingdefault - 1 $paddingdefault, $margdefault + 0.5);
      @include movil {
       margin: $margdefault - 0.5;
      }
      &::after {
       @include boton-after;
       background-image: repeating-linear-gradient(12deg, #ab77bbc7, #f3c9bc00);
      }
      &:hover::after {
        @extend %after;
      }
   }
}  