
/*COLORES*/


$color-ppal: #bb99ffa8;
$bgblanco: white;
$color-btn-hover: lightyellow;
$color-salmon: lightsalmon;

$gradientorange: linear-gradient(to left, orange, #ce650b82);

$sombra-naranja: 0 0 10px 2px #ff8100;

$bordenegro: 1px solid black;
$bordenaranja: 0.6rem solid orange;
$bordegris: 0.6rem solid lightslategray;
$bordelila: 1.2px solid #e8bcf3;

$borde-circular: 1rem;


/*TAMAÑOS*/

$paddingdefault: 2rem;
$fsdefault: 1rem;
$margdefault: 2rem;
