@mixin flex-c ($direccion, $centrado) {
    display: flex;
    flex-direction: $direccion;
    align-items: $centrado;
}

@mixin centrado ($align) {
    text-align: $align;
}

@mixin bordes-dos-colores ($borde, $otro-borde, $bordes, $otros-bordes) {
    border-left: $borde;
    border-right: $otro-borde;
    border-top: $bordes;
    border-bottom: $otros-bordes;
}

@mixin links ($transform) {
    text-decoration: none;
    text-transform: $transform;
    color: black;
}

@mixin ladrillos ($espacio) {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23cab8e7' fill-opacity='0.34'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding-bottom: $espacio;
}

@mixin cuadro-virtuales {
    border: none;
    box-shadow: $sombra-naranja;
    width: auto;
    align-items: center;
    padding: 1rem 2.5rem 1rem 2.5rem;
}

@mixin botones ($padd, $marg) {
    letter-spacing: 1px;
    background-color: transparent;
    border: $bordenegro;
    padding: $padd;
    margin: $marg;
    position: relative;
}

@mixin boton-after {
    content: ""; 
    width: 100%;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.3s;
}

@mixin bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@mixin galeria-front {
    justify-content: space-evenly;
    box-shadow: 0 3px 17px #333333;
    background-color: $bgblanco;
    position: absolute;
    width: 270px;
    height: 270px;
    backface-visibility: hidden;
}

@mixin galeria-back {
    position: absolute;
    width: 270px;
    height: 270px;
    box-shadow: 0 3px 17px #333333;
    transform: rotateY(180deg);
    border-radius: $borde-circular + 1;
    justify-content: space-evenly;
}

@mixin font {
    font-family: 'Delius Unicase', cursive; 
}