$color-ppal: #bb99ffa8;
$bordenegro: 1px solid black;
$bgblanco: white;
$gradientorange: linear-gradient(to left, orange, #ce650b82);
$paddingdefault: 2rem;
$fsdefault: 1rem;
$margdefault: 2rem;
$widthdef: 100rem;

