@import "./partials/variables";
@import "./views/index";
@import "./views/presenciales";
@import "./views/virtuales";
@import "./views/horarios";
@import "./views/promos";
@import "./views/novedades";
@import "./views/contacto";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 background-color: $color-ppal;
}

.nav-fondo{
    background-image: url(../media/fondo-header.png);
    @include movil {
      background-size: cover;
      background-repeat: no-repeat;
    }
}

.img-footer {
    background-image: url(../media/fondo-footer.png);
}

.fb, .ig, .yt{
    width: 3rem;
}









