@import "./partials/variables";
@import "./views/index";
@import "./views/presenciales";
@import "./views/virtuales";
@import "./views/contacto";
@import "./views/novedades";
@import "./partials/prueba";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 background-color: $color-ppal;
}

.nav-fondo{
    background-image: url(../media/fondo-header.png);
    @include movil {
      background-size: cover;
      background-repeat: no-repeat;
    }
}

.img-footer {
    background-image: url(../media/fondo-footer.png);
}

.fb, .ig, .yt{
    width: 3rem;
}





  /*CLASES VIRTUALES*/



 div row, span {
    text-transform: uppercase;
    font-weight: bolder;
  }
  
 .bordesizq {
   border-left: 10px solid rgba(63, 58, 58, 0.432);
   border-top: 10px solid lightsalmon;
 }
 
 .bordesdere {
   border-right: 10px solid rgba(63, 58, 58, 0.432);
   border-top: 10px solid lightsalmon;
 }
 
 .bordeizqd {
   border-left: 10px solid rgba(63, 58, 58, 0.432);
   border-bottom: 10px solid lightsalmon;
 }
 
 .bordesdered {
   border-right: 10px solid rgba(63, 58, 58, 0.432);
   border-bottom: 10px solid lightsalmon;
 }
   
 .btn-mas-info{
   color: black;
   font-size: 1.3rem;
   text-decoration: none;
   padding: 2rem;
   background-image: linear-gradient(to left, orange, #ce650b82);  
 }  






   
  /*VALORES Y PROMOCIONES*/
  
  
  
  .titulo-promo{
    text-decoration: double underline black;
  }

  .transform-precio:hover{
    transform: scale(1.2);
  }

  .under {
    text-decoration: underline double;
  }
  
  .bordenaran{
    text-decoration: underline 3px solid orange;
  }

  .bordenaran::after{
    content: "!";
    font-size: 2rem;
    font-weight: bold;
    color: orange;
    padding: 0.2rem;
  }  

  .bordenaran::before{
    content: "!";
    font-size: 2rem;
    font-weight: bold;
    color: orange;
    padding: 0.2rem;
  }











