@charset "UTF-8";
/*COLORES*/
/*TAMAÑOS*/
/*COLORES*/
/*TAMAÑOS*/
.principal__img {
  background-image: url(../media/img-ppal.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .principal__img {
    background-size: cover;
    background-position: top;
  }
}

.principal__titulo {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.principal span {
  text-transform: none;
  letter-spacing: 0.3rem;
}

@media screen and (min-width: 950px) and (max-width: 1200px) {
  .carousel__texto {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .carousel__texto {
    font-size: 0.8rem;
  }
}

.carousel__espacio {
  padding-top: 2rem;
}

@media screen and (min-width: 950px) and (max-width: 1200px) {
  .carousel__espacio {
    padding-top: 3rem;
  }
}

.testimonios {
  text-align: center;
  margin-top: 5rem;
}

.testimonios__title {
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.testimonios__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .testimonios__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 733px) {
  .testimonios__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.testimonios__cuadros {
  width: 75%;
  padding: 1rem;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 1px solid black;
  background-color: white;
}

@media screen and (min-width: 733px) {
  .testimonios__cuadros {
    width: 50%;
  }
}

.testimonios__comillas {
  color: #9f27f5;
  font-size: 3rem;
  text-align: start;
}

.testimonios__comillas--derecha {
  text-align: end;
}

.testimonios__quote {
  color: gray;
}

.btn-bailar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8rem;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .btn-bailar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.btn-bailar__texto {
  -webkit-text-decoration: underline dotted black;
          text-decoration: underline dotted black;
  padding-right: 11rem;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .btn-bailar__texto {
    padding: 2.5rem;
    text-align: center;
  }
}

.btn-bailar__btn {
  font-size: 1.3rem;
  color: black;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .btn-bailar__btn {
    text-align: center;
    margin-bottom: 5rem;
  }
}

.btn-bailar__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 1rem;
}

.btn-bailar__btn--decor {
  text-decoration: none;
  background-image: -webkit-gradient(linear, right top, left top, from(orange), to(#ce650b82));
  background-image: linear-gradient(to left, orange, #ce650b82);
  padding: 1.2rem;
}

.btn-bailar__btn--decor:hover {
  color: lightyellow;
}

.carta {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .carta {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-bottom: 5rem;
  }
}

@media screen and (min-width: 733px) {
  .carta {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media screen and (min-width: 950px) and (max-width: 1200px) {
  .carta {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1201px) {
  .carta {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.carta__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .carta__flex {
    padding: 1.2rem;
  }
}

.carta__flex:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.carta__flex--tamaño {
  width: 300px;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .carta__flex--tamaño {
    width: 250px;
  }
}

.carta__link {
  color: black;
  text-decoration: none;
  background-image: -webkit-gradient(linear, right top, left top, from(orange), to(#ce650b82));
  background-image: linear-gradient(to left, orange, #ce650b82);
  padding: 0.8rem;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .carta__link {
    padding: 0.4rem;
  }
}

.carta__link:hover {
  color: lightyellow;
  border-radius: 1rem;
}

/*COLORES*/
/*TAMAÑOS*/
.titulo-presenciales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.titulo-presenciales__title {
  padding: 3rem;
  text-shadow: 1px 11px 5px #41464bb8;
}

.titulo-presenciales__parrafo {
  padding-bottom: 0.5rem;
}

.titulo-presenciales__parrafo--bold {
  font-weight: bold;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .titulo-presenciales__parrafo {
    padding: 0.4;
    font-size: 0.8rem;
    margin: 0rem 1.2rem;
    text-align: center;
  }
}

.sedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .sedes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sedes__title {
  padding: 1.2rem;
  font-size: 1.8rem;
  margin: 4rem 0rem 4rem 3rem;
  border-right: 0.6rem solid orange;
  border-bottom: 0.6rem solid lightslategray;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .sedes__title {
    font-size: 1.2rem;
    text-align: center;
    margin: 4rem 1rem 2rem 2rem;
  }
}

.galeria-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.galeria-flex__animacion {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
  margin: 1rem auto;
  width: 270px;
  height: 280px;
}

.galeria-flex__animacion:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.galeria-flex__adelante {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0 3px 17px #333333;
          box-shadow: 0 3px 17px #333333;
  background-color: white;
  position: absolute;
  width: 270px;
  height: 270px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.galeria-flex__adelante--imagen {
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}

.galeria-flex__texto-ritmo {
  background-image: -webkit-gradient(linear, right top, left top, from(orange), to(#ce650b82));
  background-image: linear-gradient(to left, orange, #ce650b82);
  padding: 0.8rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.galeria-flex__atras {
  position: absolute;
  width: 270px;
  height: 270px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: #b9f;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.galeria-flex__atras--texto {
  -webkit-box-shadow: 0 0 10px 2px #ff8100;
          box-shadow: 0 0 10px 2px #ff8100;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: white;
}

/*COLORES*/
/*TAMAÑOS*/
.virtuales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.virtuales__title {
  padding: 3rem;
  text-shadow: 1px 11px 5px #41464bb8;
}

.virtuales__parr {
  padding-bottom: 0.5rem;
}

.virtuales__parr--deco {
  text-decoration: underline;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .virtuales {
    padding: 0.4rem;
    font-size: 0.8rem;
    margin: 0rem 1.2rem;
    text-align: center;
  }
}

.grid-virtuales {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
}

.grid-virtuales__izq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 5rem 4rem 6rem 7rem;
  border-left: 10px solid lightslategrey;
  border-top: 10px solid lightsalmon;
}

.grid-virtuales__izq--title {
  font-size: 1.5rem;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .grid-virtuales__izq--title {
    font-size: 1.3rem;
  }
}

.grid-virtuales__izq--text {
  font-size: 0.9rem;
  padding-top: 1rem;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .grid-virtuales__izq {
    padding: 1rem 2.5rem 1rem 2.5rem;
    margin: 5rem 2.5rem 1rem 2.5rem;
    border: none;
    -webkit-box-shadow: 0 0 10px 2px #ff8100;
            box-shadow: 0 0 10px 2px #ff8100;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.grid-virtuales__dere {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 5rem 7rem 6rem 3rem;
  border-right: 10px solid lightslategrey;
  border-top: 10px solid lightsalmon;
}

.grid-virtuales__dere--title {
  font-size: 1.5rem;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .grid-virtuales__dere--title {
    font-size: 1.3rem;
  }
}

.grid-virtuales__dere--text {
  font-size: 0.9rem;
  padding-top: 1rem;
}

.grid-virtuales__dere--text span {
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .grid-virtuales__dere {
    padding: 1rem 2.5rem 1rem 2.5rem;
    margin: 1rem 2.5rem 1rem 2.5rem;
    border: none;
    -webkit-box-shadow: 0 0 10px 2px #ff8100;
            box-shadow: 0 0 10px 2px #ff8100;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.grid-virtuales__izq-dos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 3rem 4rem 7rem 7rem;
  border-left: 10px solid lightslategrey;
  border-bottom: 10px solid lightsalmon;
}

.grid-virtuales__izq-dos--title {
  font-size: 1.5rem;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .grid-virtuales__izq-dos--title {
    font-size: 1.3rem;
  }
}

.grid-virtuales__izq-dos--text {
  font-size: 0.9rem;
  padding-top: 1rem;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .grid-virtuales__izq-dos {
    padding: 1rem 2.5rem 1rem 2.5rem;
    margin: 1rem 2.5rem 1rem 2.5rem;
    border: none;
    -webkit-box-shadow: 0 0 10px 2px #ff8100;
            box-shadow: 0 0 10px 2px #ff8100;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.grid-virtuales__dere-dos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1rem;
  margin: 3rem 7rem 7rem 3rem;
  border-right: 10px solid lightslategrey;
  border-bottom: 10px solid lightsalmon;
}

.grid-virtuales__dere-dos--title {
  font-size: 1.5rem;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .grid-virtuales__dere-dos--title {
    font-size: 1.3rem;
  }
}

.grid-virtuales__dere-dos--text {
  font-size: 0.9rem;
  padding-top: 1rem;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .grid-virtuales__dere-dos {
    padding: 1rem 2.5rem 1rem 2.5rem;
    margin: 1rem 2.5rem 8rem 2.5rem;
    border: none;
    -webkit-box-shadow: 0 0 10px 2px #ff8100;
            box-shadow: 0 0 10px 2px #ff8100;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .grid-virtuales {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.btn-virtuales {
  text-align: center;
  margin: 4rem 0rem 7rem 0rem;
}

.btn-virtuales__link {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  background-image: -webkit-gradient(linear, right top, left top, from(orange), to(#ce650b82));
  background-image: linear-gradient(to left, orange, #ce650b82);
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
}

.btn-virtuales__link:hover {
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  color: lightyellow;
}

/*COLORES*/
/*TAMAÑOS*/
.lunes, .martes, .miercoles, .jueves, .viernes, .sabado, .l, .m, .mi, .j, .v, .s {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  padding: 1rem;
  border: 1px solid black;
  background-color: lightsalmon;
}

.nueveymedia, .quinceHoras, .diecisietetreinta, .dieciochotreinta, .diecinuevetreinta, .nuevehoras, .oncehoras, .dieciseishoras, .diecinuevehoras, .veintehoras {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.title-horarios {
  text-align: center;
  padding: 3rem;
  text-shadow: 1px 11px 5px #41464bb8;
}

.horario-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 2rem;
}

.letra-color {
  color: #ff7f24;
  font-size: 3rem;
  margin: 3rem 0rem 6rem 4rem;
}

.grid-palermo {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
      grid-template-areas: " nada lunes martes miercoles jueves viernes sabado" "nueveymedia cuadroZumba cuadroKpop cuadroZumbaD cuadroKpopD cuadroZumbaT cuadroSalsa" "quinceHoras cuadroJazz cuadroBallet ion cuadroJazzD cuadroBalletD ionD" "diecisietetreinta reggFusion dancehall reggFusionDos dancehallD reggFusionT streetjazz" "dieciochotreinta femme bachata femmeD bachataD femmeT bachataT" "diecinuevetreinta regg hiph regg2 hiph2 regg3 ionn";
  overflow-x: auto;
}

.lunes {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: lunes;
}

.martes {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: martes;
}

.miercoles {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: miercoles;
}

.jueves {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: jueves;
}

.viernes {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: viernes;
}

.sabado {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: sabado;
}

.nada {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nada;
}

.nueveymedia {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nueveymedia;
}

.cuadroZumba {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cuadroZumba;
}

.cuadroKpop {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: cuadroKpop;
}

.cuadroZumbaD {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: cuadroZumbaD;
}

.cuadroKpopD {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: cuadroKpopD;
}

.cuadroZumbaT {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: cuadroZumbaT;
}

.cuadroSalsa {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
  grid-area: cuadroSalsa;
}

.quinceHoras {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: quinceHoras;
}

.cuadroJazz {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: cuadroJazz;
}

.cuadroBallet {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: cuadroBallet;
}

.ion {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: ion;
}

.cuadroJazzD {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: cuadroJazzD;
}

.cuadroBalletD {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  grid-area: cuadroBalletD;
}

.ionD {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  grid-area: ionD;
}

.diecisietetreinta {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: diecisietetreinta;
}

.cuadroReggaetonF {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: reggFusion;
}

.cuadroDancehall {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: dancehall;
}

.cuadroReggaetonFD {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: reggFusionDos;
}

.cuadroDancehallD {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  grid-area: dancehallD;
}

.cuadroReggaetonFT {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
  grid-area: reggFusionT;
}

.cuadroStreetj {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
  grid-area: streetjazz;
}

.dieciochotreinta {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: dieciochotreinta;
}

.cuadroFemme {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: femme;
}

.cuadroBachata {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: bachata;
}

.cuadroFemmeD {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: femmeD;
}

.cuadroBachataD {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: bachataD;
}

.cuadroFemmeT {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
  grid-area: femmeT;
}

.cuadroBachataT {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
  grid-area: bachataT;
}

.diecinuevetreinta {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: diecinuevetreinta;
}

.cuadroRegg {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: regg;
}

.cuadroHiph {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  grid-area: hiph;
}

.cuadroReggD {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
  grid-area: regg2;
}

.cuadroHiphD {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
  grid-area: hiph2;
}

.cuadroReggT {
  -ms-grid-row: 6;
  -ms-grid-column: 6;
  grid-area: regg3;
}

.ionn {
  -ms-grid-row: 6;
  -ms-grid-column: 7;
  grid-area: ionn;
}

.grid-olivos {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
      grid-template-areas: "none l m mi j v s " "nuevehoras lyricalJ tango lyricalJ2 tango2 lyricalJ3 caribeños" "oncehoras zumb clasica zumb2 clasica2 zumb3 elongacion" "dieciseishoras reggfus streetj reggfus2 streetj2 reggfus3 olivosIon" "diecinuevehoras urbano bacha urbanodos bachados urbanotres salsa" "veintehoras reggaeton hiphop reggaetondos hiphopdos reggaetontres vacio";
  overflow-x: auto;
}

.l {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: l;
}

.m {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: m;
}

.mi {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: mi;
}

.j {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: j;
}

.v {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: v;
}

.s {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: s;
}

.none {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: none;
}

.nuevehoras {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nuevehoras;
}

.cuadroLyrical {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: lyricalJ;
}

.cuadroTango {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: tango;
}

.cuadroLyricalD {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: lyricalJ2;
}

.cuadroTangoD {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: tango2;
}

.cuadroLyricalT {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: lyricalJ3;
}

.cuadroCaribeños {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
  grid-area: caribeños;
}

.oncehoras {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: oncehoras;
}

.olivosZumba {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: zumb;
}

.olivosClasica {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: clasica;
}

.olivosZumbaD {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: zumb2;
}

.olivosClasicaD {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: clasica2;
}

.olivosZumbaT {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  grid-area: zumb3;
}

.olivosElongacion {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  grid-area: elongacion;
}

.dieciseishoras {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: dieciseishoras;
}

.olivosReggF {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: reggfus;
}

.olivosStreetj {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: streetj;
}

.olivosReggFD {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: reggfus2;
}

.olivosStreetjD {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  grid-area: streetj2;
}

.olivosReggFT {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
  grid-area: reggfus3;
}

.olivosIon {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
  grid-area: olivosIon;
}

.diecinuevehoras {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: diecinuevehoras;
}

.olivosUrbano {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: urbano;
}

.olivosBacha {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: bacha;
}

.olivosUrbanoD {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: urbanodos;
}

.olivosBachaD {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: bachados;
}

.olivosUrbanoT {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
  grid-area: urbanotres;
}

.olivosSalsa {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
  grid-area: salsa;
}

.veintehoras {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: veintehoras;
}

.olivosReggaeton {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: reggaeton;
}

.olivosHiph {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  grid-area: hiphop;
}

.olivosReggaetonD {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
  grid-area: reggaetondos;
}

.olivosHiphD {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
  grid-area: hiphopdos;
}

.olivosReggaetonT {
  -ms-grid-row: 6;
  -ms-grid-column: 6;
  grid-area: reggaetontres;
}

.olivosNada {
  -ms-grid-row: 6;
  -ms-grid-column: 7;
  grid-area: vacio;
  text-align: center;
  padding: 1rem;
}

.borde {
  border: 1px solid black;
  text-align: center;
  padding: 1rem;
  font-size: 1.1rem;
  background-color: white;
}

.iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 10rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*COLORES*/
/*TAMAÑOS*/
.promo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.promo-title__title {
  padding: 3rem;
  text-shadow: 1px 11px 5px #41464bb8;
}

.promo-title__limitada {
  -webkit-text-decoration: double underline black;
          text-decoration: double underline black;
  padding-bottom: 1rem;
}

.contenedor-precios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 4rem;
}

.contenedor-precios__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  -webkit-box-shadow: 0 3px 17px #333333;
          box-shadow: 0 3px 17px #333333;
  padding: 1.5rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.contenedor-precios__texto:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contenedor-precios__texto span {
  -webkit-text-decoration: underline double red;
          text-decoration: underline double red;
}

.contenedor-precios__texto--bold {
  font-weight: bold;
  padding: 0.5rem;
  -webkit-box-shadow: 0 0 10px 2px #ff8100;
          box-shadow: 0 0 10px 2px #ff8100;
}

.contenedor-precios__texto--espacio {
  padding-left: 6rem;
  padding-right: 6rem;
}

.contenedor-precios__textofinal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem;
}

.contenedor-precios__textofinal::before {
  content: "*";
  color: rgba(216, 134, 39, 0.884);
  font-size: 5rem;
  padding: 2rem;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .contenedor-precios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2rem 5rem;
  }
}

/*COLORES*/
/*TAMAÑOS*/
.novedades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.novedades__title {
  padding: 3rem;
  text-shadow: 1px 11px 5px #41464bb8;
}

.novedades__video {
  width: 75%;
  padding-top: 3rem;
}

.noved-iframe__title {
  text-align: center;
  margin-top: 6rem;
}

.noved-iframe__iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
  margin-bottom: 6rem;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .noved-iframe__iframe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.noved-iframe__iframe--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iframedia {
  width: auto;
  height: auto;
}

/*COLORES*/
/*TAMAÑOS*/
.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto__titulo {
  padding: 3rem;
  text-shadow: 1px 11px 5px #41464bb8;
}

.contacto__subtitulo {
  text-align: center;
  padding: 3rem;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .formulario {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.formulario__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3rem;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .formulario__mail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
    text-align: center;
  }
}

.formulario__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario__textarea--tamaño {
  padding-top: 3rem;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .formulario__textarea {
    padding: 1rem;
    overflow: hidden;
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

.formulario__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formulario__radio--espacio {
  padding: 0.8rem;
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .formulario__radio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.formulario__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

.formulario__checkbox--espacio {
  margin: 1rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #bb99ffa8;
}

.nav-fondo {
  background-image: url(../media/fondo-header.png);
}

@media screen and (min-width: 270px) and (max-width: 732px) {
  .nav-fondo {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.img-footer {
  background-image: url(../media/fondo-footer.png);
}

.fb, .ig, .yt {
  width: 3rem;
}
