@import "../partials/variables";
@import "../partials/media-queries";


.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__titulo {
        padding-top: $paddingdefault + 1;
    }
    &__subtitulo{
        text-align: center;
        padding: $paddingdefault + 1;
    } 
} 


.formulario {
    display: flex;
    justify-content: space-evenly;
    @include movil {
        flex-direction: column;
        align-items: center;
    }
    &__mail{
        display: flex;
        justify-content: space-around;
        padding: $paddingdefault + 1;
        @include movil {
            flex-direction: column;
            padding: $paddingdefault;
            text-align: center;
        }
    }
    &__textarea{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--tamaño{
            padding-top: $paddingdefault + 1;
        }
        @include movil {
            padding-left: $paddingdefault - 1;
            padding-right: $paddingdefault - 1;
            text-align: center;
            .formulario__textarea__mensaje {
                width: 75%;
            }
        }
    } 
    &__radio{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        &--espacio{
            padding: $paddingdefault - 0.2;
            @include movil {
                padding: $paddingdefault - 1.8;
            }
        }
        @include movil {
            flex-direction: column;
        }
    }
    &__checkbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: $paddingdefault;
        &--espacio{
            margin: $margdefault;
            padding: $paddingdefault - 1 $paddingdefault;
            background-image: $gradientorange;
        }
        &-flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__input {
        transition: 1.5s ease;
        &:focus{  
        width: 160px;
        height: 30px;
        transform:scale(1.1);
      }
    }
    
}

