@import "../partials/variables";
@import "../partials/media-queries";



.principal {
    &__img {
        background-image: url(../media/img-ppal.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        @include movil {
            height: auto;
            padding-bottom: 15rem;
            background-position: center;
        }
    } 
    &__titulo {
        font-size: $fsdefault * 1.8;
        padding: $paddingdefault - 1;
        text-align: center;
        @include movil {
            padding: $paddingdefault - 0.5;
            font-size: $fsdefault * 1.5;
        }
    } & span {
          text-transform: none;
          letter-spacing: 0.3rem;
    }
}

.carousel__texto {
    @include pan-grande {
        font-size: $fsdefault - 0.1;
    }
    @include movil {
        font-size: $fsdefault - 0.2;
    }
}

.carousel__espacio {
    padding-top: $paddingdefault;
    @include pan-grande {
        padding-top: $paddingdefault + 1;
    }
}



.testimonios {
    text-align: center;
    margin-top: $margdefault + 3;
    &__title {
        text-transform: uppercase;
        padding-bottom: $paddingdefault;
        margin-top: $margdefault + 1;
    }
    &__flex {
        display: flex;
        margin: $margdefault;
        @include movil {
            flex-direction: column;
            align-items: center;
            margin: 0rem;
        }
        @include tablet {
            flex-direction: row;
        }
    }
    &__cuadros {
        width: 75%;
        padding: $paddingdefault - 1;
        margin: $margdefault - 0.5;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border: $bordenegro;
        background-color: $bgblanco;
        @include tablet {
            width: 50%;
        }
    } &__comillas {
        color:  #9f27f5;
        font-size: $fsdefault * 3;
        text-align: start;
        &--derecha {
            text-align: end;
        }
    } 
    &__quote {
        color: gray;
    }
}


.btn-bailar {
    display: flex;
    justify-content: center;
    margin-top: $margdefault * 4;
    @include movil {
        flex-direction: column;
        margin: 0rem;
    }
    &__texto {
        text-decoration: underline dotted black;
        padding-right: $paddingdefault + 9;
        @include movil {
            padding: $paddingdefault + 0.5;
            text-align: center;
        }
    } &__btn {
        font-size: $fsdefault + 0.3;
        color: black;
        transition: 1.5s ease;
        @include movil {
            text-align: center;
            margin-bottom: $margdefault + 3;
        }
        &:hover {
            transform: scale(1.1);
            border-radius: $borde-circular;
        }
        &--decor {
            text-decoration: none;
            background-image: linear-gradient(to left, orange, #ce650b82);
            padding: $paddingdefault - 0.8;
        } &--decor:hover {
            color: $color-btn-hover;
        }
    }
} 

.carta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    @include movil {
      grid-template-columns: 1fr;
      padding-bottom: $paddingdefault + 3;  
    }
    @include tablet {
        grid-template-columns: auto;
    }
    @include pan-grande {
        grid-template-columns: repeat(3, 1fr);
    }
    @include pan-enorme {
        grid-template-columns: repeat(3, 1fr);
    }
    &__flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: $paddingdefault * 3;
        padding-bottom: $paddingdefault * 3;
        transition: 1.5s ease;
        @include movil {
            padding: $paddingdefault - 0.8;
        }
        &:hover {
            transform: scale(0.9);
        }
        &--tamaño {
            width: 300px;
            @include movil {
                width: 250px;
            }
        }
    } 
      &__link {
        color: black;
        text-decoration: none;
        background-image: $gradientorange;
        padding: $paddingdefault - 1.2;
        @include movil {
            padding: $paddingdefault - 1.6;
        }
    } &__link:hover{
        color: $color-btn-hover;
        border-radius: $borde-circular;
    }
}