@import "../partials/variables";
@import "../partials/media-queries";

.titulo-presenciales {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__title {
    padding: 3rem;
    text-shadow: $sombra-titulo;
  }
  &__parrafo {
    padding-bottom: 0.5rem;
    &--bold {
      font-weight: bold;
    }
    @include movil {
      padding: 0.4;
      font-size: 0.8rem;
      margin: 0rem 1.2rem;
      text-align: center;
    }
  }
}

.sedes {
  display: flex;
  @include movil {
    justify-content: center;
  }
  &__title {
    padding: 1.2rem;
    font-size: 1.8rem;
    margin: 4rem 0rem 4rem 3rem;
    border-right: $bordenaranja;
    border-bottom: $bordegris;
    @include movil {
      font-size: 1.2rem;
      text-align: center;
      margin: 4rem 1rem 2rem 2rem;
    }
  }
}

.galeria-flex{
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  &__animacion{
    transform-style: preserve-3d;
    transition: transform 2s ease;
    margin: 1rem auto;
    width: 270px;
    height: 280px;
    &:hover{
      transform: rotateY(180deg);
    }
  }
  &__adelante {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 3px 17px #333333;
    background-color: $bgblanco;
    position: absolute;
    width: 270px;
    height: 270px;
    backface-visibility: hidden;
     &--imagen {
      height:170px;
      object-fit: cover;
    }
  } 
  &__texto-ritmo {
    background-image: $gradientorange;
    padding: 0.8rem;
    font-size: 1.1rem;
    cursor: pointer;
  }
  &__atras {
    position: absolute;
    width: 270px;
    height: 270px;
    backface-visibility: hidden;
    background: #b9f;
    transform: rotateY(180deg);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &--texto {
      box-shadow: $sombra-naranja;
      padding: 1rem;
      font-size: 1.2rem;
      background-color: $bgblanco;
    }
  }    
}






