@import "../partials/variables";
@import "../partials/media-queries";


  
  
.promo-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__title {
        padding: $paddingdefault + 1;
    }
  }

  .contenedor-precios{
    display: flex;
    justify-content: space-evenly;
    margin-top: $margdefault * 2;
    &__texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $bgblanco;
        box-shadow: 0 3px 17px #333333;
        padding: $paddingdefault - 0.5;
        margin-bottom: $margdefault;
        transition: .3s ease;
        &:hover{
            transform: scale(1.2);
            border-radius: $borde-circular;
        }
        & span {
            text-decoration: underline double red;
        }
        &--bold {
            font-weight: bold;
            padding: $paddingdefault - 1.5;
            box-shadow: $sombra-naranja;
        }
        &--espacio {
            padding-left: $paddingdefault * 2;
            padding-right: $paddingdefault * 2;
        }
     }
     &__textofinal{
         display: flex;
         align-items: center;
         font-style: italic;
         padding: $paddingdefault;
         &::before {
            content: "*";
            color:rgba(216, 134, 39, 0.884);
            font-size: $fsdefault * 5;
            padding: $paddingdefault - 1;
         }
     }
     @include movil {
        flex-direction: column;
        margin: 2rem 5rem;
    }
    @include tablet {
        flex-wrap: wrap;
    }
  }

