@import "../partials/variables";
@import "../partials/media-queries";


.virtuales {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__title {
    padding: $paddingdefault*1.5;
    text-shadow: $sombra-titulo;
  }
  &__parr {
    padding-bottom: $paddingdefault - 1.5;
    &--deco {
        text-decoration: underline;
    }
  }
  @include movil {
    padding: $paddingdefault - 1.6;
    font-size: $fsdefault - 0.2;
    margin: 0rem 1.2rem;
    text-align: center;
  }
}

.grid-virtuales {
    display: grid;
    grid-template-columns: 2fr 2fr;
    &__izq {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $paddingdefault - 1;
        margin: 5rem 4rem 6rem 7rem;
        border-left: 10px solid lightslategrey;
        border-top: 10px solid lightsalmon;
        &--title{
            font-size: $fsdefault*1.5;
            @include movil {
                font-size: $fsdefault + 0.3;
            }
        }
        &--text{
            font-size: $fsdefault*0.9;
            padding-top: $paddingdefault/2;
        }
        @include movil {
            padding: 1rem 2.5rem 1rem 2.5rem;
            margin: 5rem 2.5rem 1rem 2.5rem;
            border: none;
            box-shadow: $sombra-naranja;
            width: auto;
            align-items: center;
        }
    }
    &__dere {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $paddingdefault - 1;
        margin: 5rem 7rem 6rem 3rem;
        border-right: 10px solid lightslategrey;
        border-top: 10px solid lightsalmon;
        &--title{
            font-size: $fsdefault*1.5;
            @include movil {
                font-size: $fsdefault + 0.3;
            }
        }
        &--text{
            font-size: $fsdefault*0.9;
            padding-top: $paddingdefault/2;
            & span {
            text-decoration: underline;
            font-weight: bold;
        }
      }
      @include movil {
        padding: 1rem 2.5rem 1rem 2.5rem;
        margin: 1rem 2.5rem 1rem 2.5rem;
        border: none;
        box-shadow: $sombra-naranja;
        width: auto;
        align-items: center;
      }
    }
      &__izq-dos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $paddingdefault - 1;
        margin: 3rem 4rem 7rem 7rem;
        border-left: 10px solid lightslategrey;
        border-bottom: 10px solid lightsalmon;
        &--title{
            font-size: $fsdefault*1.5;
            @include movil {
                font-size: $fsdefault + 0.3;
            }
        }
        &--text{
            font-size: $fsdefault*0.9;
            padding-top: $paddingdefault/2;
        }
        @include movil {
            padding: 1rem 2.5rem 1rem 2.5rem;
            margin: 1rem 2.5rem 1rem 2.5rem;
            border: none;
            box-shadow: $sombra-naranja;
            width: auto;
            align-items: center;
        }
    }
    &__dere-dos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: $paddingdefault - 1;
        margin: 3rem 7rem 7rem 3rem;
        border-right: 10px solid lightslategrey;
        border-bottom: 10px solid lightsalmon;
        &--title{
            font-size: $fsdefault*1.5;
            @include movil {
                font-size: $fsdefault + 0.3;
            }
        }
        &--text{
            font-size: $fsdefault*0.9;
            padding-top: $paddingdefault/2;
        }
        @include movil {
            padding: 1rem 2.5rem 1rem 2.5rem;
            margin: 1rem 2.5rem 8rem 2.5rem;
            border: none;
            box-shadow: $sombra-naranja;
            width: auto;
            align-items: center;
        }
    }
    @include movil {
        grid-template-columns: 1fr;
    }
}


.btn-virtuales{
    text-align: center;
    margin: 4rem 0rem 7rem 0rem;
    &__link{
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        background-image: $gradientorange;
        padding: $paddingdefault - 0.5;
        font-size: $fsdefault + 0.5;
        border-radius: $borde-circular;
        transition: 1.5s ease;
        &:hover {
            transform: scale(2.5);
            color: $color-btn-hover;
            
        }
    }
}