@import "../utils/variables";
@import "../utils/media-queries";
@import "../utils/mixins";
@import "../utils/botones";

.fondo-ladrillos {
    @include ladrillos ($paddingdefault);
}

.contacto {
    @include centrado (center);
    padding-top: $paddingdefault + 1;
    @include font;
} 

.formulario {
    background-color: #d2bbff59;
    border: 10px dotted #fdf5e6b5;
    @include movil {
        margin: $margdefault + 1;
    }
    @include tablet {
        margin: $margdefault * 2 $margdefault * 3;
    }
    @include pan-grande {

    }
    &__title {
        @include centrado (center);
        padding: $paddingdefault + 1;
    }
    &__name-usern {
        display: flex;
        justify-content: center;
        @include movil {
            @include flex-c (column, center);
        }
    }
    &__mail{
        @include flex-c (row, flex-end);
        justify-content: center;
        padding: $paddingdefault + 1;
        @include movil {
            @include flex-c (column, center);
            padding: 0rem;
        }
        &__elija-sede {
            margin: 0.1rem $margdefault * 3.6;
            padding: $paddingdefault - 1.5;
            border: $bordelila;
            @include movil {
                flex-direction: column;   
                margin: $margdefault 0rem;
            }
            &--color {
                background-color: #c7b0e9c2;
            }
        }
    }
    &__textarea{
        @include flex-c (column, center);
        margin-top: $margdefault - 1;
        color: rgba(14, 14, 14, 0.671);
        &__mensaje {
          border: $bordelila;
          outline: none;
        }
        &--tamaño{
            padding-top: $paddingdefault + 1;
        }
        @include movil {
            padding-left: $paddingdefault - 1;
            padding-right: $paddingdefault - 1;
            @include centrado (center);
            .formulario__textarea__mensaje {
                width: 75%;
            }
        }
    } 
    &__radio{
        @include flex-c (row, center);
        flex-wrap: wrap;
        justify-content: center;
        &--espacio{
            padding: $paddingdefault - 0.2;
            @include movil {
                padding: $paddingdefault - 1.2;
            }
        }
        @include movil {
            flex-direction: column;
        }
    }
    &__input {
        transition: 1.5s ease;
        margin: 0rem $margdefault + 2.5;
        padding: $paddingdefault - 1.5;
        border: $bordelila;
        @include movil {
            margin: $margdefault - 0.5;
        }
        &:focus{  
           outline: none;
           width: 170px;
           height: 40px;
           transform:scale(1.1);
      }
    }
}












