@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

%deco-dias{
  font-size: $fsdefault + 0.1rem;
  text-transform: uppercase;
  font-weight: bolder;
  @include centrado (center);
  padding: $paddingdefault - 1;
  border: $bordenegro;
  background-color: $color-salmon;
}

%dias-semana{
  font-size: $fsdefault + 0.1rem;
  text-transform: uppercase;
  font-weight: bolder;
  position: sticky;
  left: 0px;
}

.title-horarios{
  @include centrado (center);
  @include font;
  padding: $paddingdefault + 1;
}

.horario-subtitle {
  @include flex-c (row, center);
  justify-content: center;
  margin: $margdefault + 2 $margdefault - 1 $margdefault + 2 $margdefault - 1;
  background-image: url(.././media/fondo-titulo.png);
}

.letra-color {
  font-size: $fsdefault + 2;
}

.grid-palermo {
    display: grid;
    grid-template-areas: 
    " nada lunes martes miercoles jueves viernes sabado"
    "nueveymedia cuadroZumba cuadroKpop cuadroZumbaD cuadroKpopD cuadroZumbaT cuadroSalsa"
    "quinceHoras cuadroJazz cuadroBallet ion cuadroJazzD cuadroBalletD ionD"
    "diecisietetreinta reggFusion dancehall reggFusionDos dancehallD reggFusionT streetjazz"
    "dieciochotreinta femme bachata femmeD bachataD femmeT bachataT"
    "diecinuevetreinta regg hiph regg2 hiph2 regg3 ionn"
    ;  
    overflow: auto;
    margin: 0rem $margdefault + 5;
    @include movil {
      margin: $margdefault - 1;
    }
    @include tablet {
      margin: $margdefault;
    }
    @include pan-grande @include pan-enorme {
      margin: $margdefault + 5;
    }
} 
  
  .lunes {
    grid-area: lunes;
    @extend %deco-dias;
  }
  
  .martes {
    grid-area: martes;
    @extend %deco-dias;
  }
  
  .miercoles {
    grid-area: miercoles;
    @extend %deco-dias;
  }
  
  .jueves {
    grid-area: jueves;
    @extend %deco-dias;
  }
  
  .viernes {
    grid-area: viernes;
    @extend %deco-dias;
  }
  
  .sabado {
    grid-area: sabado;
    @extend %deco-dias;
  }
  
  .nada {
    grid-area: nada;
  }
  
  .nueveymedia {
    grid-area: nueveymedia;
    @extend %dias-semana;

  }
  
  .cuadroZumba {
    grid-area: cuadroZumba;
  }
  
  .cuadroKpop {
    grid-area: cuadroKpop;
  }
  
  .cuadroZumbaD{
    grid-area: cuadroZumbaD;
  }
  
  .cuadroKpopD{
    grid-area: cuadroKpopD;
  }
  
  .cuadroZumbaT{
    grid-area: cuadroZumbaT
  }
  
  .cuadroSalsa {
    grid-area: cuadroSalsa;
  }
  
  .quinceHoras {
    grid-area: quinceHoras;
    @extend %dias-semana;
  }
  
  .cuadroJazz {
    grid-area: cuadroJazz;
  }
  
  .cuadroBallet {
    grid-area: cuadroBallet;
  }
  
  .ion {
    grid-area: ion;
  }
  
  .cuadroJazzD{
    grid-area: cuadroJazzD;
  }
  
  .cuadroBalletD{
    grid-area: cuadroBalletD;
  }
  
  .ionD{
    grid-area: ionD;
  }
  
  .diecisietetreinta {
    grid-area: diecisietetreinta;
    @extend %dias-semana;
  }
  
  .cuadroReggaetonF {
    grid-area: reggFusion
  }
  
  .cuadroDancehall {
    grid-area: dancehall;
  }
  
  .cuadroReggaetonFD {
    grid-area: reggFusionDos;
  }
  
  .cuadroDancehallD {
    grid-area: dancehallD;
  }
  
  .cuadroReggaetonFT {
    grid-area: reggFusionT;
  }
  
  .cuadroStreetj {
    grid-area: streetjazz;
  }
  
  .dieciochotreinta {
    grid-area: dieciochotreinta;
    @extend %dias-semana;
  }
  
  .cuadroFemme {
    grid-area: femme;
  }
  
  .cuadroBachata {
    grid-area: bachata;
  }
  
  .cuadroFemmeD {
    grid-area: femmeD;
  }
  
  .cuadroBachataD {
    grid-area: bachataD;
  }
  
  .cuadroFemmeT {
    grid-area: femmeT;
  }
  
  .cuadroBachataT {
    grid-area: bachataT
  }
  
  .diecinuevetreinta {
    grid-area: diecinuevetreinta;
    @extend %dias-semana;
  }
  
  .cuadroRegg {
    grid-area: regg;
  }
  
  .cuadroHiph {
    grid-area: hiph;
  }
  
  .cuadroReggD {
    grid-area: regg2;
  }
  
  .cuadroHiphD {
    grid-area: hiph2;
  }
  
  .cuadroReggT {
    grid-area: regg3;
  }
  
  .ionn {
    grid-area: ionn;
  }

  .grid-olivos{
    display: grid;
    grid-template-areas: 
    "none l m mi j v s "
    "nuevehoras lyricalJ tango lyricalJ2 tango2 lyricalJ3 caribeños"
    "oncehoras zumb clasica zumb2 clasica2 zumb3 elongacion"
    "dieciseishoras reggfus streetj reggfus2 streetj2 reggfus3 olivosIon"
    "diecinuevehoras urbano bacha urbanodos bachados urbanotres salsa"
    "veintehoras reggaeton hiphop reggaetondos hiphopdos reggaetontres vacio"
    ;  
    overflow: auto;
    margin: 0rem $margdefault + 5;
    @include movil {
      margin: $margdefault - 1;
    }
    @include tablet {
      margin: $margdefault;
    }
    @include pan-grande @include pan-enorme {
      margin: $margdefault + 5;
    }
  }

  .l {
    grid-area: l;
    @extend %deco-dias;
  }
  
  .m {
    grid-area: m;
    @extend %deco-dias;
  }
  
  .mi {
    grid-area: mi;
    @extend %deco-dias;
  }
  
  .j {
    grid-area: j;
    @extend %deco-dias;
  }
  
  .v {
    grid-area: v;
    @extend %deco-dias;
  }
  
  .s {
    grid-area: s;
    @extend %deco-dias;
  }
  
  .none {
    grid-area: none;
  }
  
  .nuevehoras {
    grid-area: nuevehoras;
    @extend %dias-semana;
  }
  
  .cuadroLyrical {
    grid-area: lyricalJ;
  }
  
  .cuadroTango {
    grid-area: tango;
  }
  
  .cuadroLyricalD {
    grid-area: lyricalJ2;
  }
  
  .cuadroTangoD {
    grid-area: tango2;
  }
  
  .cuadroLyricalT {
    grid-area: lyricalJ3
  }
  
  .cuadroCaribeños {
    grid-area: caribeños;
  }
  
  .oncehoras {
    grid-area: oncehoras;
    @extend %dias-semana;
  }
  
  .olivosZumba {
    grid-area: zumb;
  }
  
  .olivosClasica {
    grid-area: clasica;
  }
  
  .olivosZumbaD{
    grid-area: zumb2;
  }
  
  .olivosClasicaD{
    grid-area: clasica2;
  }
  
  .olivosZumbaT{
    grid-area: zumb3;
  }
  
  .olivosElongacion {
    grid-area: elongacion;
  }
  
  .dieciseishoras {
    grid-area: dieciseishoras;
    @extend %dias-semana;
  }
  
  .olivosReggF {
    grid-area: reggfus;
  }
  
  .olivosStreetj {
    grid-area: streetj;
  }
  
  .olivosReggFD{
    grid-area: reggfus2;
  }
  
  .olivosStreetjD{
    grid-area: streetj2;
  }
  
  .olivosReggFT {
    grid-area: reggfus3;
  }
  
  .olivosIon {
    grid-area: olivosIon;
  }
  
  .diecinuevehoras {
    grid-area: diecinuevehoras;
    @extend %dias-semana;
  }
  
  .olivosUrbano {
    grid-area: urbano;
  }
  
  .olivosBacha {
    grid-area: bacha;
  }
  
  .olivosUrbanoD {
    grid-area: urbanodos;
  }
  
  .olivosBachaD {
    grid-area: bachados;
  }
  
  .olivosUrbanoT {
    grid-area: urbanotres;
  }
  
  .olivosSalsa {
    grid-area: salsa;
  }
  
  .veintehoras {
    grid-area: veintehoras;
    @extend %dias-semana;
  }
  
  .olivosReggaeton {
    grid-area: reggaeton;
  }
  
  .olivosHiph {
    grid-area: hiphop;
  }
  
  .olivosReggaetonD{
    grid-area: reggaetondos;
  }
  
  .olivosHiphD {
    grid-area: hiphopdos;
  }
  
  .olivosReggaetonT{
    grid-area: reggaetontres;
  }
  
  .olivosNada{
    grid-area: vacio;
    @include centrado (center);
    padding: $paddingdefault - 1;
  }
  
  .borde {
    border: $bordenegro;
    @include centrado (center);
    padding: $paddingdefault - 1;
    font-size: $fsdefault + 0.1rem;
    background-color: $bgblanco;
  }
  
.iframe {
  @include flex-c (row, center);
  justify-content: space-evenly;
  margin-bottom: $margdefault * 5;
  flex-wrap: wrap;
  @include movil {
    margin-bottom: auto;
  }
  &__responsive{
    @include movil {
      justify-content: center;
      width: 75%;
      padding-bottom: $paddingdefault;
    }
    @include tablet {
      padding-bottom: $paddingdefault;
    }
  }
}