@import "../utils/variables";
@import "../utils/media-queries";
@import "../utils/mixins";


.principal {
    &__img {
        background-image: url(../media/img-ppal.png);
        @include bg-img;
        @include movil {
            height: auto;
            padding-bottom: $paddingdefault + 13;
            background-position: center;
        }
    } 
    &__titulo {
        font-size: $fsdefault * 1.8;
        padding: $paddingdefault - 1;
        @include font;
        letter-spacing: 0.3rem;
        @include centrado (center);
        @include movil {
            padding: $paddingdefault - 0.5;
            font-size: $fsdefault * 1.2;
            letter-spacing: normal;
        }
        @include pan-grande {
            padding-top: $paddingdefault;
        }
    } 
}

.presentacion {
    background-color: #d2bbff;
}

.carousel__texto {
    @include pan-grande {
        font-size: $fsdefault - 0.1;
    }
    @include movil {
        font-size: $fsdefault - 0.2;
    }
}

.carousel__espacio {
    padding-top: $paddingdefault;
    @include pan-grande {
        padding-top: $paddingdefault + 1;
    }
}

.testimonios {
    @include centrado (center);
    margin-top: $margdefault + 3;
    &__title {
        text-transform: uppercase;
        padding-bottom: $paddingdefault;
        margin-top: $margdefault + 1;
    }
    &__flex {
        display: flex;
        margin: $margdefault;
        @include movil {
            @include flex-c(column, center);
            margin: 0rem;
        }
        @include tablet {
            flex-direction: row;
        }
    }
    &__cuadros {
        width: 75%;
        padding: $paddingdefault - 1;
        margin: $margdefault - 0.5;
        @include flex-c(column, stretch);
        justify-content: flex-end;
        border: $bordenegro;
        background-color: $bgblanco;
        @include tablet {
            margin: 0.4rem;
        }
        @include pan-grande @include pan-enorme {
            margin: $margdefault;
        }
    } &__comillas {
        color:  #9f27f5;
        font-size: $fsdefault * 3;
        @include centrado (start);
        &--derecha {
            @include centrado (end);
        }
    } 
    &__quote {
        color: gray;
    }
}


.btn-bailar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: $margdefault * 4;
    background-color: #a476ff2b;
    padding: $paddingdefault;
    @include movil {
        flex-direction: column;
        margin: 0rem;
        padding: 0rem;
    }
    &__texto {
        text-decoration: underline dotted black;
        padding-right: $paddingdefault + 9;
        @include movil {
            padding: $paddingdefault + 0.5;
            @include centrado (center);
        }
    } 
} 

.carta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    @include movil {
      grid-template-columns: 1fr;
      padding-bottom: $paddingdefault + 3;  
    }
    @include tablet {
        grid-template-columns: auto;
    }
    @include pan-grande {
        grid-template-columns: repeat(3, 1fr);
    }
    @include pan-enorme {
        grid-template-columns: repeat(3, 1fr);
    }
    &__flex {
        @include flex-c(column, center);
        padding-top: $paddingdefault * 3;
        padding-bottom: $paddingdefault * 3;
        transition: 1.5s ease;
        @include movil {
            padding: $paddingdefault - 0.8;
        }
        &:hover {
            transform: scale(0.9);
        }
        &--tamaño {
            width: 300px;
            @include movil {
                width: 250px;
            }
        }
    } 
}