@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";

.novedades {
    @include flex-c (column, center);
    justify-content: center;
    &__title{
        padding: $paddingdefault + 1;
        @include font;
    }
    &__video{
        width: 75%;
        padding-top: $paddingdefault + 1;
    }
    @include movil {
        padding-left: $paddingdefault;
        padding-right: $paddingdefault;
        .novedades__video{
            width: 100%;
        }
    }
}

.noved-iframe {
    &__title {
        @include centrado (center);
        padding: $paddingdefault - 0.8;
        margin: $margdefault * 3 $margdefault 0rem $margdefault;
        background-image: url(../../media/fondo-titulo.png);
    }
    &__iframe{
        @include flex-c (row, center);
        justify-content: space-evenly;
        padding-top: $paddingdefault + 1;
    @include movil {
        @include flex-c (column, center);
        justify-content: center;
        padding: $paddingdefault;
    }
    &--text {
        @include flex-c (column, center);
        padding: $paddingdefault - 1;
        font-size: $fsdefault + 0.1;
        @include tablet {
            padding-left: $paddingdefault + 0.5;
        }
     }
     &--size {
         @include movil {
             width: fit-content;
         }
         @include tablet {
             padding: $paddingdefault;
         }
     }
    }
}

.wave {
    @include pan-grande {
        margin-top: -8rem;
    }
}
