@import "../utils/variables";
@import "../utils/media-queries";
@import "../utils/mixins";

.titulo-presenciales {
  @include flex-c (column, center);
  @include centrado (center);
  &__title {
    padding: $paddingdefault + 1;
    @include font;
  }
  &__parrafo {
    padding-bottom: $paddingdefault - 1.5;
    &--bold {
      font-weight: bold;
    }
    @include movil {
      padding: $paddingdefault - 1.6;
      font-size: $fsdefault - 0.2;
      margin: 0rem 1.2rem;
      @include centrado (center);
    }
  }
}

.sedes {
  display: flex;
  @include movil {
    justify-content: center;
  }
  &__title {
    padding: $paddingdefault - 0.8;
    font-size: $fsdefault + 0.8;
    margin: 4rem 0rem 4rem 3rem;
    border-right: $bordenaranja;
    border-bottom: $bordegris;
    @include movil {
      font-size: $fsdefault + 0.2;
      @include centrado (center);
      margin: 4rem 1rem 2rem 2rem;
    }
  }
}

.galeria-flex{
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  &__animacion{
    transform-style: preserve-3d;
    transition: transform 2s ease;
    margin: 1rem auto;
    width: 270px;
    height: 280px;
    &:hover{
      transform: rotateY(180deg);
    }
  }
  &__adelante {
    @include flex-c (column, center);
    @include galeria-front;
     &--imagen {
      height: 170px;
      object-fit: cover;
    }
  } 
  &__texto-ritmo {
    background-color: $color-salmon;
    padding: $paddingdefault - 0.8;
    font-size: $fsdefault + 0.1;
    cursor: pointer;
  }
  &__atras {
    @include galeria-back;
    @include flex-c (column, center);
    &--texto {
      box-shadow: $sombra-naranja;
      padding: $paddingdefault - 1;
      font-size: 1.2rem;
      background-color: $bgblanco;
    }
  }    
}






