@import "../base/variables";
@import "../base/media-queries";
@import "../base/mixins";
  
.promo-title{
    @include flex-c (column, center)
    @include centrado (center);
    margin: 0rem $margdefault;
    &__title {
        padding: $paddingdefault + 1;
        margin-bottom: $margdefault + 1;
        @include font;
    }
}

  .contenedor-precios{
    display: flex;
    justify-content: space-evenly;
    margin-top: $margdefault * 2;
    &__texto {
        @include flex-c (column, center);
        @include centrado (center);
        justify-content: center;
        background-color: $bgblanco;
        box-shadow: 0 3px 17px #333333;
        padding: $paddingdefault - 0.5;
        margin-bottom: $margdefault;
        transition: .3s ease;
        &:hover{
            transform: scale(1.2);
            border-radius: $borde-circular;
        }
        & span {
            text-decoration: underline double #ff8100;
        }
        &--bold {
            font-weight: bold;
            padding: $paddingdefault - 1.5;
            box-shadow: $sombra-naranja;
        }
        &--espacio {
            padding-left: $paddingdefault * 2;
            padding-right: $paddingdefault * 2;
        }
    }
    &__textofinal{
        @include flex-c (row, center);
        justify-content: center;
        font-style: italic;
        margin: $margdefault - 1;
        background-image: url(../../media/fondo-titulo.png);
        &::before {
            content: "*";
            color:rgba(216, 134, 39, 0.884);
            font-size: $fsdefault * 5;
            padding: $paddingdefault - 1;
        }
    }
    @include movil {
        flex-direction: column;
        margin: 2rem 5rem;
    }
    @include tablet {
        flex-wrap: wrap;
        margin: $margdefault + 1 $margdefault + 4 $margdefault + 1 $margdefault + 4;
        padding-right: $paddingdefault - 1;
        padding-left: $paddingdefault - 1;
    }
    @include pan-grande {
        margin: $margdefault;
    }
}

