@import "../utils/variables";
@import "../utils/media-queries";
@import "../utils/mixins";
@import "../utils/botones";


.virtuales {
  @include flex-c (column, center);
  @include centrado (center);
  &__title {
    padding: $paddingdefault*1.5;
    @include font;
  }
  &__parr {
    padding-bottom: $paddingdefault - 1.5;
    &--deco {
        text-decoration: underline;
    }
  }
  @include movil {
    padding: $paddingdefault - 1.6;
    font-size: $fsdefault - 0.2;
    margin: 0rem 1.2rem;
    @include centrado (center);
  }
}

.grid-virtuales {
    display: grid;
    grid-template-columns: 2fr 2fr;
    &__izq {
        @include flex-c (column, center);
        padding: $paddingdefault - 1;
        margin: 5rem 4rem 6rem 7rem;
        @include bordes-dos-colores (10px solid lightslategrey, none, 10px solid lightsalmon, none);
        &--title{
            font-size: $fsdefault*1.5;
            @include movil {
                font-size: $fsdefault + 0.3;
            }
        }
        &--text{
            font-size: $fsdefault*0.9;
            padding-top: $paddingdefault/2;
        }
        @include movil {
            @include cuadro-virtuales;
            margin: 5rem 2.5rem 1rem 2.5rem;
        }
    }
    &__dere {
        @include flex-c (column, center);
        padding: $paddingdefault - 1;
        margin: 5rem 7rem 6rem 3rem;
        @include bordes-dos-colores (none, 10px solid lightslategrey, 10px solid lightsalmon, none);
        &--title{
            font-size: $fsdefault*1.5;
            @include movil {
                font-size: $fsdefault + 0.3;
            }
        }
        &--text{
            font-size: $fsdefault*0.9;
            padding-top: $paddingdefault/2;
            & span {
            text-decoration: underline;
            font-weight: bold;
        }
      }
      @include movil {
        @include cuadro-virtuales;
        margin: 1rem 2.5rem 1rem 2.5rem;
      }
    }
      &__izq-dos {
        @include flex-c (column, center);
        padding: $paddingdefault - 1;
        margin: 3rem 4rem 7rem 7rem;
        @include bordes-dos-colores(10px solid lightslategrey, none, none, 10px solid lightsalmon);
        &--title{
            font-size: $fsdefault*1.5;
            @include movil {
                font-size: $fsdefault + 0.3;
            }
        }
        &--text{
            font-size: $fsdefault*0.9;
            padding-top: $paddingdefault/2;
        }
        @include movil {
            @include cuadro-virtuales;
            margin: 1rem 2.5rem 1rem 2.5rem;
        }
    }
    &__dere-dos{
        @include flex-c (column, center);
        justify-content: space-evenly;
        padding: $paddingdefault - 1;
        margin: 3rem 7rem 7rem 3rem;
        @include bordes-dos-colores(none, 10px solid lightslategrey, none, 10px solid lightsalmon);
        &--title{
            font-size: $fsdefault*1.5;
            @include movil {
                font-size: $fsdefault + 0.3;
            }
        }
        &--text{
            font-size: $fsdefault*0.9;
            padding-top: $paddingdefault/2;
        }
        @include movil {
            @include cuadro-virtuales;
            margin: 1rem 2.5rem 2rem 2.5rem;
        }
    }
    @include movil {
        grid-template-columns: 1fr;
    }
}

